
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.navbar{
    background-color: #111111;
}
.navbar-nav{
    font-family: 'Century Gothic',
    Courier,
    monospace;
    font-weight: bolder
}
.nav-link a:hover {
    color: #85b417;
}
.carousel-inner{
    width: 100%;
    border-bottom-color: #043d1c;
    margin-top: 10px;
    margin-bottom: 10px;
  
}
.carousel-indicators {
    border-color: #043d1c;
    
}
.carousel-inner img {
    width: 100%;
    filter: brightness(60%);
    border-top: #111111;
    border-bottom-color: #043d1c;
}
.navbar-brand img{
    width: 70px;
    height: 50px;
}